---
layout: page
title: Archives
---
<section id="main">		
	<ul class="nav nav-list">	
		{% for post in site.posts %}

			{% if post.next %}		
					{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
					{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
					{% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
					{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
			{% endif %}

			{% if forloop.first %}				
					<!-- year -->
					<li class="nav-header"><h2 id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2></li>
					<li>		
						<ul class="nav nav-list">
							<!-- month -->
							<li class="nav-header"><h4 id="{{ post.date | date: '%Y-%B' }}">{{ post.date | date: '%B' }}</h4></li>
							<li>	
								<ul class="nav nav-list">			
			{% else %}
				<!-- all other posts -->								
					{% if year != nyear %}	
								</ul>
							</li>						
							<!-- /month -->	
						</ul>
					</li>
					<!-- /year -->
					<!-- year -->
					<li class="nav-header"><h2 id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2></li>
					<li>	
						<ul class="nav nav-list">
							<!-- month -->
							<li class="nav-header"><h4 id="{{ post.date | date: '%Y-%B' }}">{{ post.date | date: '%B' }}</h4></li>
							<li>					
								<ul class="nav nav-list">		
					{% elsif month != nmonth %}
								</ul>
							</li>						
							<!-- /month -->	
							<!-- month -->
							<li class="nav-header"><h4 id="{{ post.date | date: '%Y-%B' }}">{{ post.date | date: '%B' }}</h4></li>
							<li>					
								<ul class="nav nav-list">												
					{% endif %}					
		   {% endif %}	
		   <li><a href="{{ post.url }}">{{ post.title }}<span class="pull-right">{{ post.date | date: '%d.%m.%y' }}</span></a></li>

		   {% if forloop.last %}
		  						 </ul>
							</li>						
							<!-- /month -->	
						</ul>
					</li>
					<!-- /year -->		
		   {% endif %}		   		   		
		{% endfor %}														
		</ul>		
</section>
