---
layout: page
title: Categories
---
<section id="main">
<ul class="nav nav-list">
<!-- categories -->	
{% for category in site.categories %}
	<li class="nav-header"><h2>{{ category | first }}<a name="{{ category | first | cgi_escape }}"></a><small class="pull-right">({{ category | last| size }})</small></h2></li>
	
		{% assign posts = category | last %}
      {% for post in posts %}
		<li><a href="{{ post.url }}" title="{{ post.excerpt | strip_html }}">{{ post.title }} <span class="pull-right">{{ post.date | date: '%d.%m.%y' }}</span></a></li>						
	{% endfor %}	
				
{% endfor %}
</ul>
</section>
