---
layout: page
title: Tags
---
<section class="mainSection">
<ul class="nav nav-list">
<li class="nav-header"><h1>Tags <small class="pull-right">({{site.tags.size}})</small></h1></li>
<li>
	<ul class="inline">
	   {% for tag in site.tags %}      
	   <li>
	   	<a href="tags.html#{{ tag | first | cgi_encode }}" 
	   	style="font-size:{{tag | last | size | times:100 | divided_by:site.tags.size | plus:100}}%">
		{{ tag | first }}</a>
		{% unless forloop.last %}, {% endunless %}
	</li>
	{% endfor %}    
	</ul>
</li>
<!-- tags -->	
{% for tag in site.tags %}
	<li class="nav-header">
		<h1>{{ tag | first }}<a name="{{ tag | first | cgi_escape }}"></a><small class="pull-right">({{tag | last | size}})</small></h1>
	</li>	
	{% assign posts = tag | last %}
    	{% for post in posts %}
			<li><a href="{{ post.url }}" title="{{ post.excerpt | strip_html }}">{{ post.title }} <span class="pull-right">{{ post.date | date: '%d.%m.%y' }}</span></a></li>						
		{% endfor %}
	
{% endfor %}
</ul>
</section>		
