---
layout: page
---
{% for post in paginator.posts %}
  <article class="box">
  	<header>
		<time datetime="{{post.date | date: "%Y-%m-%d"}}" title="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%d.%m.%Y"}}</time>					
		<h1><span><a href="{{post.url}}" title="Read more about '{{ post.title }}'">{{ post.title }}</a></span></h1>
	</header>	
	{{ post.excerpt | markdownify }}
	<footer>	
		{% include widgets/postCategoryList.html %}
		{% include widgets/postTagList.html %}	
		<p class="more" style="float:right; margin-top: -1.8em;"><a href="{{ post.url }}#more" title="Read more about '{{ post.title }}'">Read more &hellip;</a></p>
	</footer>
	</article>
{% endfor %}

<!-- Pagination links -->
<nav class="pagination">		
	<span>
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<a href="/" class="previous">&laquo; Newer entries</a>
			{% else %}
			<a href="/page{{paginator.previous_page}}/index.html" class="previous">&laquo; Newer entries</a>	
			{% endif %}			
		{% endif %}
	</span>	
	<span class="pageNumber">
		Page: {{paginator.page}} of {{paginator.total_pages}}
	</span>
	<span>
		{% if paginator.next_page %}<a href="/page{{paginator.next_page}}/index.html" class="next ">Older entries &raquo;</a>{% endif %}
	</span>
</nav>
